<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Home</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'pages/css/home.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        {% include 'superadmin_dashboard.html' %}

        <div class="home__container">

        <div> Login </div>
            <a href="{% url 'users:user_login_view' %}"> Click Me </a>

        </div>
                
    {% endblock %}

    
    {% block extra_scripts %}
        <script src="{% static 'pages/js/home.js' %}"></script>
    {% endblock %}
</body>
</html>    