<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Orders</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'orders/css/order_main.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        <div class="order__container">
            <h1> Orders </h1>

            <!-- Form -->           
            <div class="form__container">
              <form class="form-group" method="POST" id="order-form">
                {% csrf_token %}
              <h1> Order Form </h1>  
              {{ form| crispy}}

              <button type="submit" class="btn btn-primary" id="close" onclick="Close()">Submit</button>

            <input type="submit" name="" value="Save">  
            </form>
            </div>
 

            <!--<form class="test_form" id="test-form">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
              <button type="submit" class="btn btn-primary" id="close" onclick="Close()">Submit</button>
            </form>--> 

            <div class="order__add__button__container" >
              <button class="order__add__button" onclick="Test()">
                Add
              </button>
            </div>
            <div class="table-responsive">
              <table class="table" id="order-table">
                <thead>
                  <tr class="order__tr">
                    <th scope="col">Order Received</th>
                    <th scope="col">Date Order Delivered</th>
                    <th scope="col">Style No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Remarks/Adjustment</th>
                    <th scope="col">Required Date</th>
                    <th scope="col">Price(LKR)</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Cutomer ID</th>
                    <th scope="col">Consumption</th>
                    <th scope="col">Total Consumption</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Order Progress</th>
                    <th scope="col">Reason</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  <tr class="order__body">                    
                    <td> {{ order.order_received }} </td>
                    <td> {{ order.date_order_delivered }} </td>
                    <td> {{ order.style_no }} </td>
                    <td> {{ order.order_no }} </td>
                    <td> {{ order.remarks }} </td>
                    <td> {{ order.required_date }} </td>
                    <td> {{ order.price }} </td>
                    <td> {{ order.customer.customer_first_name }} 
                         {{ order.customer.customer_last_name }}
                    </td>
                    <td> {{ order.customer.customer_id }} </td>
                    <td> {{ order.consumption }} </td>
                    <td> {{ order.total_consumption }} </td>
                    <td> {{ order.delivery_date }} </td>
                    <td> 
                      {% if order.order_status == True %}
                        Complete
                      {% else %}
                        Incomplete
                      {% endif %}    
                    </td>
                    <td> {{ order.order_progress }} </td>
                    <td> {{ order.reason }} </td>                   
                   </tr> 
                  {% endfor %}                  
                </tbody>
              </table>  
            </div>                        

        </div>

        


        
    {% endblock %}

    
    {% block extra_scripts %}
      <script src="{% static 'orders/js/order_main.js' %}" ></script>  
    {% endblock %}
</body>
</html>    