<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Sample- Ladies Skirt</title>
    {% endblock %}

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'sample/css/ladies/skirt/ladies_skirt.css' %}">
    {% endblock %}

</head>
<body>

    {% block content %}
        <div class="ladies__skirt__container">
            <h1> Ladies Skirt </h1>

            <div class="ladies__skirt__btn">
                <button>
                    <a href="{% url 'sample:ladies_skirt_print_view' object.id %}" target="_blank"> Print  </a>
                </button>
                <button onclick="FormDisplay()" id="edit-btn"> Edit </button>
            </div>
            <div class="ladies__skirt__wrapper">
                    <div class="form__container">
                        <form class="form-group" action='.' method="POST" id="ladies-skirt-form">
                                {% csrf_token %}
                                {{ form| crispy}}
                            <input type="submit" name="" value="Save" id="save" onclick="FormClose()">
                        </form>
                    </div>

                <img src="{{ object.img.url }}" alt="img" class="ladies__skirt__img">

                <div class="ladies__skirt__details">

                    <p> Sample Manufacture Date: {{ object.sample_manufactured_date }} </p>
                    <p> Style No: {{ object.style_no }} </p>
                    <p> Fabric Id: {{ object.fabric_id }} </p>
                    <p> Fabric Price {{ object.fabric_price }} </p>
                    <p> Consumption: {{ object.consumption }} </p>
                    <p> Accessories Name: {{ object.acc_name }} </p>
                    <p> Accessories Cost: LKR {{ object.acc_cost }} </p>
                    <p> Sewing Cost: LKR {{ object.sewing_cost }} </p>
                    <p> Embroidery Cost: LKR {{ object.embroidery_cost}} </p>
                    <p> Washed Cost: LKR {{ object.washed_cost }} </p>
                    <p> Paint Cost: LKR {{ object.pain_cost}} </p>
                    <p> Factory Profit: LKR {{ object.factory_profit }} </p>
                    <p> Total Value: LKR {{ object.total_value }} </p>
                    <p> {% if object.accepted == True %}
                        Sample Accepted
                        {% else %}
                        Sample Rejected
                        {% endif %}
                    </p>
                    <p> Description: {{ object.description }} </p>

                </div>
            </div>

        </div>


    {% endblock %}

    {% block extra_scripts %}
        <script src="{% static 'sample/js/ladies/skirt/ladies_skirt.js' %}" ></script>  >
    {% endblock %}

</body>
</html>