<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Invoice</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'invoice/css/invoice_main.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        <div class="invoice__container">
            <h1> Invoice </h1>

            <div class="invoice__add__button__container" >
              <button class="invoice__add__button">
                Add
              </button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="invoice__tr">
                    <th scope="col">Date</th>
                    <th scope="col">Invoice No</th>
                    <th scope="col"> Customer </th>
                    <th scope="col">Style No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Value</th>
                    <th scope="col">Payment Method</th>
                  </tr>
                </thead>
                <tbody>
                  {% for invoice in invoices %}
                  <tr class="invoice__body">                    
                    <td> {{ invoice.date }} </td>
                    <td> {{ invoice.invoice_no }} </td>
                    <td> {{ invoice.customer.customer_first_name }} 
                      {{ invoice.customer.customer_last_name }}</td>
                    <td> {{ invoice.style_no }} </td>
                    <td> {{ invoice.order.order_no }}  </td>
                    <td> {{ invoice.quantity }} </td>
                    <td> {{ invoice.price }} </td>
                    <td> {{ invoice.value }} </td>
                    <td> {{ invoice.method_of_payment }} </td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>

        </div>
        
    {% endblock %}

    
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>    
