<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Accesories</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'accessories/css/accessories_main.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        <div class="accessories__container">
            <h1> Accessories </h1>

            <!-- Recieved In-->
            <h2> Recieved In </h2>

            <div class="accessories__add__button__container" >
              <button class="accessories__add__button">
                Add
              </button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="accessories__tr">
                    <th scope="col">Date</th>
                    <th scope="col">Invoice No</th>
                    <th scope="col">Price(LKR)</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Value</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">User</th>
                  </tr>
                </thead>
                <tbody>
                  {% for acc_recieved in acc_recieveds %}
                  <tr class="accessories__body">                    
                    <td> {{ acc_recieved.date }} </td>
                    <td>  {{ acc_recieved.invoice.invoice_no }} </td>
                    <td> {{ acc_recieved.price }} </td>
                    <td> {{ acc_recieved.quantity }} </td>
                    <td> {{ acc_recieved.value }} </td>
                    <td> {{ acc_recieved.customer.customer_first_name }} 
                         {{ acc_recieved.customer.customer_last_name }} 
                    </td>
                    <td> {{ acc_recieved.customer_id }} </td>
                    <td> {{ acc_recieved.delivery_date }} </td>
                    <td> {{ acc_recieved.time }} </td>
                    <td> {{ acc_recieved.user_notes }} </td>                    
                  </tr>
                  {% endfor %}
                </tbody>
              </table>  
            </div>

            <!--Sent Out-->
            <h2> Sent Out </h2>

             <div class="accessories__add__button__container" >
              <button class="accessories__add__button">
                Add
              </button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="accessories__tr">
                    <th scope="col">Date</th>
                    <th scope="col">Invoice No</th>
                    <th scope="col">Price</th>
                    <th scope="col">Qunatity</th>
                    <th scope="col">Value</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">User</th>
                  </tr>
                </thead>
                <tbody>
                  {% for acc_sent_out in acc_sent_outs %}
                  <tr class="accessories__body">                    
                    <td> {{ acc_sent_out.date }} </td>
                    <td>  {{ acc_sent_out.invoice.invoice_no }} </td>
                    <td> {{ acc_sent_out.price }} </td>
                    <td> {{ acc_sent_out.quantity }} </td>
                    <td> {{ acc_sent_out.value }} </td>
                    <td> {{ acc_sent_out.customer.customer_first_name }} 
                         {{ acc_sent_out.customer.customer_last_name }} 
                    </td>
                    <td> {{ acc_sent_out.customer_id }} </td>
                    <td> {{ acc_sent_out.delivery_date }} </td>
                    <td> {{ acc_sent_out.time }} </td>
                    <td> {{ acc_sent_out.user_notes }} </td>                    
                  </tr>
                  {% endfor %}                  
                </tbody>
              </table>  
            </div>

        </div>
        
    {% endblock %}

    
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>    