<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Fabric</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'fabric/css/fabric_main.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        <div class="fabric__container">
            <h1> Fabric </h1>

            <!-- Order In-->
            <div id="order-in-title">
              <h2> Order In </h2>
            </div>            

            <div class="fabric__add__button__container" >
              <button class="fabric__add__button">
                Add
              </button>

              <button class="fabric__add__button" id="order-in" onclick="In()">
                Order In
              </button>
              <button class="fabric__add__button" id="order-out" onclick="Out()">
                Order Out
              </button>
            </div>
            <div class="table-responsive">
              <table class="table" id="order-in-table">
                <thead>
                  <tr class="fabric__tr">
                    <th scope="col">Order Received</th>
                    <th scope="col">Date Order Delivered</th>
                    <th scope="col">Style No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Remarks/Adjustment</th>
                    <th scope="col">Required Date</th>
                    <th scope="col">Price(LKR)</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Cutomer ID</th>
                    <th scope="col">Consumption</th>
                    <th scope="col">Total Consumption</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Order Progress</th>
                    <th scope="col">Reason</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order_in in order_ins %}
                  <tr class="fabric__body">                    
                    <td> {{ order_in.order_received }} </td>
                    <td> {{ order_in.date_order_delivered }} </td>
                    <td> {{ order_in.style_no }} </td>
                    <td> {{ order_in.order.order_no }} </td>
                    <td> {{ order_in.remarks }} </td>
                    <td> {{ order_in.required_date }} </td>
                    <td> {{ order_in.price }} </td>
                    <td> {{ order_in.customer.customer_first_name }} 
                         {{ order_in.customer.customer_last_name }}
                    </td>
                    <td> {{ order_in.customer.customer_id }} </td>
                    <td> {{ order_in.consumption }}</td>
                    <td> {{ order_in.total_consumption }} </td>
                    <td> {{ order_in.delivery_date }} </td>
                    <td> 
                      {% if order_in.order_status == True %}
                        Complete
                      {% else %}
                      Incomplete
                      {% endif %} 
                    </td>
                    <td> {{ order_in.order_progress }} </td>
                    <td> {{ order_in.reason }} </td>                      
                  </tr>
                  {% endfor %}                  
                </tbody>
              </table>  
            </div>

            <!-- <h1> Order In Form </h1>
            <form class="form-group" action='.' method="POST"> {% csrf_token %}
              {{ form_order_in.as_p}}

            <input type="submit" name="" value="Save">  
            </form>-->

            <!-- Order Out-->
            <div id="order-out-title">
              <h2> Order Out </h2>
            </div>            

            <!--<div class="fabric__add__button__container" >
              <button class="fabric__add__button">
                Add
              </button>-->
            </div>
            <div class="table-responsive">
              <table class="table" id="order-out-table">
                <thead>
                  <tr class="fabric__tr">
                    <th scope="col">Order Received</th>
                    <th scope="col">Date Order Delivered</th>
                    <th scope="col">Style No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Remarks/Adjustment</th>
                    <th scope="col">Required Date</th>
                    <th scope="col">Qunatity</th>
                    <th scope="col">Price(LKR)</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Cutomer ID</th>
                    <th scope="col">Consumption</th>
                    <th scope="col">Total Consumption</th>
                    <th scope="col">Delivery Date</th>
                    <th scope="col">Order Status</th>
                    <th scope="col">Order Progress</th>
                    <th scope="col">Reason</th>
                  </tr>
                </thead>
                <tbody>
                  {% for order_out in order_outs %}
                  <tr class="fabric__body">                    
                      <td> {{ order_out.order_received }} </td>
                      <td> {{ order_out.date_order_delivered }} </td>
                      <td> {{ order_out.style_no }} </td>
                      <td> {{ order_in.order.order_no }} </td>
                      <td> {{ order_out.remarks }} </td>
                      <td> {{ order_out.required_date }} </td>
                      <td> {{ order_out.quantity }} </td>
                      <td> {{ order_out.price }} </td>
                      <td> {{ order_in.customer.customer_first_name }} 
                           {{ order_in.customer.customer_last_name }}
                      </td>
                      <td> {{ order_in.customer.customer_id }} </td>
                      <td> {{ order_out.consumption }}</td>
                      <td> {{ order_out.total_consumption }} </td>
                      <td> {{ order_out.delivery_date }} </td>
                      <td> 
                        {% if order_out.order_status == True %}
                          Complete
                        {% else %}
                        Incomplete
                        {% endif %} 
                      </td>
                      <td> {{ order_out.order_progress }} </td>
                      <td> {{ order_out.reason }} </td>                    
                  </tr>
                  {% endfor %}                  
                </tbody>
              </table>  
            </div>

            <!-- <h1> Order Out Form </h1>
            <form class="form-group" action='.' method="POST"> {% csrf_token %}
              {{ form_order_out.as_p}}

            <input type="submit" name="" value="Save">  
            </form>-->

        </div>
        
    {% endblock %}

    
    {% block extra_scripts %}
      <script src="{% static 'fabric/js/fabric_main.js' %}" ></script>
    {% endblock %}
</body>
</html>    