.fabric__container {
	margin: 100px 0 0 100px;
}

.fabric__container h1 {
	text-align: center;
}

.fabric__container h2 {
	text-align: center;
	margin-top: 50px;
}

/* Add Button */
.fabric__add__button__container{
	display: flex;
	float: right;
	margin-bottom: 10px;
}

.fabric__add__button {
	border: none;
	outline: none;
	border-radius: 4px;
	background-color: #FF6600;
	color: #fff;
	width: 80px;
	height: 40px;
}

#order-in {
	display: none;
	position: fixed;
}

#order-out {
	display: block;
	position: fixed;
}

#order-in-table {
	display: block;
	position: fixed;
}

#order-out-table {
	display: none;
	position: fixed;
}

#order-out-title {
	display: none;
	position: fixed;
}

#order-in-title {
	display: block;
	position: fixed;
}


.fabric__tr {
	background-color: #002060;	
	color: #fff;	
}

.fabric__tr th {
	color: #fff;
}

.fabric__body {
	background-color: #FF6600;
}