<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Sewing</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'sewing/css/sewing_main.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        <div class="sewing__container">
            <h1> Sewing </h1>

            <div class="sewing__add__button__container" >
              <button class="sewing__add__button">
                Add
              </button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr class="sewing__tr">
                    <th scope="col">Order Recieved</th>
                    <th scope="col">Date Order Deliver</th>
                    <th scope="col">Style No</th>
                    <th scope="col">Order No</th>
                    <th scope="col">Remarks/Adjustments</th>
                    <th scope="col">Required Date</th>
                    <th scope="col">Order Accepted</th>
                    <th scope="col">Order Progress</th>
                    <th scope="col">Completed Date</th>
                    <th scope="col">Released Date</th>
                    <th scope="col">Reason</th>
                  </tr>
                </thead>
                <tbody>
                  {% for sewing in sewings %}
                  <tr class="sewing__body">                    
                    <td> {{ sewing.order_received }} </td>
                    <td> {{ sewing.date_order_delivered }} </td>
                    <td> {{ sewing.style_no }} </td>
                    <td> {{ sewing.order.order_no }} </td>
                    <td> {{ sewing.remarks }} </td>
                    <td> {{ sewing.required_date }} </td>
                    <td> {{ sewing.order_accepted }} </td>
                    <td> {{ sewing.order_progress }} </td>
                    <td> {{ sewing.completed_date }} </td>                    
                    <td> {{ sewing.release_date }} </td>
                    <td> {{ sewing.reason }} </td>                    
                  </tr>
                  {% endfor %}                  
                </tbody>
              </table>  
            </div>

        </div>
        
    {% endblock %}

    
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>    
