<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="UTF-8">

    {% block title %}
    <title>Idesiignred | Fabric</title>
    {% endblock %} 

    {% block extra_css %}
        <link rel="stylesheet" href="{% static 'cutting/css/cutting_main.css' %}">
    {% endblock %}  

</head>
<body>

    {% block content %}
        <div class="cutting__container">
            <h1> Cutting </h1>
        </div>
        
    {% endblock %}

    
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>    