<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title> Idesiignred | Boys Shirt: {{ object.style_no }} </title>

    <link rel="stylesheet" href="{% static 'sample/css/boys/shirt/boys_shirt_print.css' %}">

</head>
<body>

    <div class="boys__shirt__container">
        <div class="boys__shirt__wrapper">

            <img src="{{ object.img.url }}" alt="img" class="boys__shirt__img">

            <div class="boys__shirt__details">

                <p> Sample Manufacture Date: {{ object.sample_manufactured_date }} </p>
                <p> Style No: {{ object.style_no }} </p>
                <p> Fabric Id: {{ object.fabric_id }} </p>
                <p> Fabric Price {{ object.fabric_price }} </p>
                <p> Consumption: {{ object.consumption }} </p>
                <p> Accessories Name: {{ object.acc_name }} </p>
                <p> Accessories Cost: LKR {{ object.acc_cost }} </p>
                <p> Sewing Cost: LKR {{ object.sewing_cost }} </p>
                <p> Embroidery Cost: LKR {{ object.embroidery_cost}} </p>
                <p> Washed Cost: LKR {{ object.washed_cost }} </p>
                <p> Paint Cost: LKR {{ object.pain_cost}} </p>
                <p> Factory Profit: LKR {{ object.factory_profit }} </p>
                <p> Total Value: LKR {{ object.total_value }} </p>
                <p> {% if object.accepted == True %}
                    Sample Accepted
                    {% else %}
                    Sample Rejected
                    {% endif %}
                </p>
                <p> Description: {{ object.description }} </p>

            </div>
        </div>


        </div>

</body>
</html>